/* Algemene stijlen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #FFFFFF; /* Achtergrond geheel wit */
    padding: 10px;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu-button {
    color: #5D3EBC; /* Donkerpaars voor menu-knop */
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.help-button {
    background-color: transparent;
    border-radius: 50%;
    font-size: 18px;
    color: #5D3EBC; /* Donkerpaars voor vraagteken-knop */
    border: 2px solid #E0E7FF;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px; /* Correctie van uitlijning met menu-knop */
    right: 30px; /* Uitlijning rechts */
}

main {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

/* Scan-sectie */
.scan-section {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
}

.scan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    padding: 20px;
}

.scan-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.scan-btn {
    background-color: #5A50ED; /* Paarse knop */
    border-radius: 35px;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Lichte schaduw rechtsonder */
    border: none; /* Geen randen om de knop */
    cursor: pointer;
}

/* QR-logo in de knop */
.qr-logo {
    width: 50px; /* Pas de grootte aan naar wens */
    height: 50px; /* Pas de grootte aan naar wens */
}

.scan-text {
    font-size: 16px;
    color: #5D3EBC; /* Paarse tekst */
    margin-top: 10px;
}

/* Verberg de hele scan-container tijdens het scannen */
.scan-container.hidden {
    display: none;
}

.close-scan-btn {
    background-color: #5A50ED; /* Paarse kleur zoals andere knoppen */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    margin: 20px auto; /* Voeg witruimte toe en centreer de knop */
    display: none; /* Standaard verbergen */
    text-align: center;
}

/* Kaartjes sectie */
.card-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px; /* Maximale breedte van de kaartjescontainer */
    margin: 0 auto; /* Centreer de kaartjescontainer */
}

/* Algemene styling voor kaartjes */
.card, .default-card {
    background-color: #E0F7FA;
    padding: 20px;
    border-radius: 15px; /* Hoeken afgerond */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Lichte schaduw */
    margin-bottom: 20px; /* Witruimte tussen de kaartjes */
    position: relative;
    font-size: 14px;
    width: 100%; /* Neem de volledige breedte van de container */
    aspect-ratio: 98 / 57; /* Gebruik de verhouding 98:57 voor de hoogte */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Zorg ervoor dat de pseudo-elementen niet buiten de kaart lopen */
    background-image: url('wavy.svg'); /* Geef hier het pad van je SVG-bestand */
    background-size: cover; /* Zorg ervoor dat de SVG de volledige kaart bedekt */
    background-repeat: no-repeat; /* Voorkom herhaling van de achtergrondafbeelding */
}

/* Stijling voor de lichte kaart */
.light-card {
    background-color: #B9E4E2; /* Lichtblauw */
    color: #152A62;
}

/* Stijling voor de donkere kaart */
.dark-card {
    background-color: #445580; /* Nieuwe kleur voor het donkere kaartje */
    color: white; /* Witte tekst voor leesbaarheid */
}

.dark-card h3, .dark-card p, .dark-card .view-card {
    color: white; /* Zorg ervoor dat alle tekst op de donkere kaart wit is */
}

/* Stijling van de tekst en knoppen in de kaart */
.default-card h3, .card h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.default-card p, .card p {
    margin: 5px 0 15px 0; /* Voeg ruimte toe tussen de titel en de tekst */
    font-size: 16px;
}

/* Knop onderaan de kaart */
.view-card {
    background: none;
    border: none;
    font-size: 16px;
    color: inherit; /* Zorg dat de tekstkleur overeenkomt met de kaart */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-top: auto; /* Duw de knop naar de onderkant van de kaart */
}

.arrow {
    margin-left: 5px;
}

/* Afbeelding in de kaart */
.card img {
    width: 40px; /* Pas de grootte aan naar wens */
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
}




/* Details sectie voor niet-standaard kaartjes */
#details {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Zorg dat je kunt scrollen */
}

#details h3 {
    margin-top: 20px; /* Pas de marge aan voor een betere uitlijning */
    color: #152A62;
}

/* Scheidingsstreep in details */
.divider {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin: 20px 0; /* Voeg wat marge toe rondom de streep */
}

#details-content {
    margin-top: 20px;
}

/* Knoppen in het detailscherm */
.details-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Stijl voor de "Terug"-knop */
.purple-btn {
    background-color: #5A50ED; /* Paarse kleur */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    text-align: center;
}

/* Stijl voor de "Verwijderen"-knop */
.orange-btn {
    background-color: #FFA500; /* Oranje kleur */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    text-align: center;
}

/* Details sectie voor standaardkaartjes (Personal Data) */
#personal-data-details {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Zorg dat je kunt scrollen */
}

#personal-data-details .message-box {
    background-color: #445580;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Stijl voor de "Back"-knop in standaardkaartjes */
#back-btn {
    background-color: #5A50ED; /* Paarse kleur */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%; /* Maak de knop korter */
    max-width: 200px; /* Maximale breedte */
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Modal styling */
#share-question-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Gebruik 100% in plaats van 100vh om het volledige scherm te vullen */
    background-color: white; /* Maak de achtergrond wit */
    z-index: 1000; /* Zorg dat de modal boven andere elementen ligt */
    padding: 20px;
    box-sizing: border-box;
    justify-content: flex-start; /* Plaats inhoud bovenaan */
}

/* Inhoud van de modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 90%;
    height: auto;
    max-height: 90%; /* Zorg dat de modal niet hoger wordt dan het scherm */
    box-sizing: border-box;
}

h2, h3 {
    color: #152A62; /* Tekstkleur */
}

p {
    color: #152A62;
}

/* Knoppen styling */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stop-button {
    background-color: white;
    border: 2px solid #152A62;
    color: #152A62;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.share-button {
    background-color: #5A50ED; /* Paarse kleur */
    color: white; /* Witte tekst */
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.share-button:hover {
    background-color: #1e3a82;
}

.share-button:hover {
    background-color: #1e3a82;
}

/* Welkomstscherm */
#welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    padding: 0; /* Specifiek voor het welkomstscherm */
    overflow: hidden; /* Voorkom extra scrollbars */
}

.welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 80%; /* Zorgt dat de content minimaal de hele hoogte inneemt */
}

/* Nieuwe container voor de tekst */
.welcome-text {
    padding: 20px 0; /* Voeg witruimte toe boven en onder de tekst */
    text-align: center;
    color: #152A62;
}

.welcome-text h1{
    margin-bottom: 10px;
    text-align: center;
    color: #152A62;
}


/* Achtergrondcontainer */
.welcome-background {
    background-color: #F2F5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 0.5; /* Zorg dat de afbeelding de resterende ruimte inneemt */
}

.welcome-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-image img {
    max-width: 80%;
    height: auto;
}

/* Knop onderaan het scherm */
#welcome-screen button {
    background-color: #5A50ED;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Pincode-scherm */
#pin-screen {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 80vh;
    padding: 20px;
}

#pin-screen h2 {
    text-align: center; /* Centreer de tekst */
    max-width: 100%; /* Pas de breedte van de tekst aan */
    margin-bottom: 20px; /* Voeg wat extra ruimte onder de tekst toe */
}

.pin-content {
    text-align: center;
}

.pin-input {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.pin-input input {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    width: 50px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit-pin {
    background-color: #5A50ED;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    margin-top: 40px;
    align-self: center; /* Centreer de knop horizontaal */
}

/* Menu scherm */
.menu-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

/* Menu lijstitems */
.menu-list li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color: #152A62; /* Donkerpaarse kleur voor tekst */
    font-size: 18px;
}

/* Zorg ervoor dat de tekstkleur van de iconen overeenkomt met de tekstkleur */
.menu-list li span {
    color: #152A62; /* Donkerpaarse kleur voor iconen en tekst */
}

.menu-logout {
    background: none;
    border: 1px solid #5A50ED;
    color: #5A50ED;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.back-btn {
    background-color: #5A50ED; /* Paarse kleur */
    color: white; /* Witte tekst */
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%; /* Maak de knop korter */
    max-width: 200px; /* Maximale breedte */
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Activiteiten scherm */
.activities-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.activities-section h3 {
    margin-bottom: 20px;
}

.activities-section ul {
    list-style: none;
    padding: 0;
}

.activities-section li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


#pin-confirmation-screen {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centreer inhoud verticaal */
    align-items: center; /* Centreer inhoud horizontaal */
    position: fixed; /* Houd het scherm vast bovenop andere elementen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    padding: 20px;
}

.pin-input {
    display: flex;
    gap: 10px; /* Ruimte tussen de inputvelden */
    margin-bottom: 20px; /* Witruimte tussen pincodevelden en bevestigingsknop */
}

.pin-input input {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    width: 50px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    display: flex; /* Gebruik flexbox om inhoud te centreren */
    justify-content: center; /* Centreer de knop horizontaal */
    width: 100%; /* Zorg ervoor dat de container de volledige breedte inneemt */
    margin-top: 20px; /* Voeg wat ruimte boven de knop toe */
}

#confirm-pin {
    background-color: #5A50ED;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px; /* Zorg dat de knop niet te breed wordt */
    text-align: center;
    margin: 0 auto; /* Centreer de knop binnen de container */
    display: block; /* Zorg ervoor dat de knop als een blok-element wordt weergegeven */
}


/* Success-scherm */
#success-screen {
    display: none; /* Verberg standaard */
    position: fixed; /* Zorg ervoor dat het bovenop andere elementen staat */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Maak het scherm zichtbaar met een achtergrondkleur */
    z-index: 1000; /* Zorg voor een hoge z-index om andere elementen te overtreffen */
    display: flex; /* Gebruik flexbox voor centreren */
    justify-content: space-between; /* Zorg voor ruimte tussen inhoud */
    align-items: center; /* Centreer inhoud verticaal */
    flex-direction: column; /* Stapel de inhoud verticaal */
    padding: 20px;
}

#success-screen h2 {
    margin-bottom: 20px; /* Voeg witruimte onder de titel toe */
}

/* Knoppen-container onderaan het scherm */
.button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 90%; /* Pas breedte aan voor lay-out van de knoppen */
}

/* Zie Activiteit-knop */
#see-activity-btn {
    background-color: white;
    border: 2px solid #373EDE;
    color: #373EDE;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Sluiten-knop */
#close-success-btn {
    background-color: #373EDE;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
