/* Algemene stijlen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #F9F9F9;
  color: #333;
}

header {
  background-color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-button {
  background: none;
  border: none;
  font-size: 18px;
  color: #003366;
  cursor: pointer;
}

.help-button {
  background: none;
  border: none;
  font-size: 18px;
  color: #003366;
  cursor: pointer;
  margin-left: auto; /* Zorgt ervoor dat de help-knop rechts uitgelijnd is */
}

main {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.scan-section {
  text-align: center;
  margin-bottom: 20px;
  position: relative; /* Zorgt ervoor dat de reader zich positioneert ten opzichte van deze sectie */
}

.scan-btn {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px auto;
}

.close-scan-btn {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  margin: 20px auto 0 auto;
  display: none; /* Verberg de sluit-knop standaard */
}

#reader {
  display: none;
  width: 100%; /* Maak de reader breedte 100% van de container */
  max-width: 300px;
  margin: 20px auto;
}

.wallet-grid {
  display: flex;
  flex-direction: column; /* Veranderd naar 1 kaart per rij */
  gap: 15px;
  padding: 10px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h3 {
  margin: 5px 0;
  font-size: 18px;
  color: #333;
}

.footer {
  padding: 10px;
  background-color: white;
  text-align: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

#details {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  padding: 20px;
  box-sizing: border-box;
}

#details h3 {
  margin-top: 60px;
}
